/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */



@import "bootstrap/scss/bootstrap";


$gray-100: #F9F9F9 !default;
$gray-200: #F1F1F4 !default;
$gray-300: #DBDFE9 !default;
$gray-400: #C4CADA !default;
$gray-500: #99A1B7 !default;
$gray-600: #78829D !default;
$gray-700: #4B5675 !default;
$gray-800: #252F4A !default;
$gray-900: #071437 !default;
$gray-click: #ededf2 !default;

body {
  font-family: 'Roboto', sans-serif;
}


.card {
  border-radius: 8px;
  border: none !important;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.284);

  .card-title {
    font-size: 16px;
  }
}

.card-header,
.card-footer {
  padding: 1.5rem 1rem !important;
  background-color: rgba(137, 137, 137, 0.222) !important;
}

.card-body {
  padding: 1rem !important;
  background-color: white !important;
  border: none !important;
}


.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}


.form-control.form-control-solid {
  background-color: $gray-100;
  border-color: $gray-100;
  color: $gray-700;
}

.form-control.form-control-solid:active {
  background-color: $gray-click;
}

.form-control.form-control-solid:focus {
  background-color: $gray-click;
}

.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid $gray-click;
}
